.habitaciones-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .habitacion-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .habitacion-card p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .habitacion-title {
    font-size: 1.5rem;
    color: #007bff;
  }
  
  .no-habitaciones {
    text-align: center;
    color: #e74c3c;
    font-size: 1.2rem;
    font-weight: bold;
  }
  




  /*/*Seccion de Reservaciones*/
  .habitacion-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  

  /*SeccionReserva */

  #reservacionForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .btn-success {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-success:disabled {
    background-color: #c6e0c6;
  }
  


  /*panel de usuario Reservaciones*/

  #panelUsuario {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .btn-danger {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-danger:hover {
    background-color: #dc3545;
    cursor: pointer;
  }
  